{% extends 'base.html.twig' %}

{% block intro %}
    <div class="intro-consultation view intro hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container text-center white-text wow fadeInUp">
                <div class="col-12">
                    <h1>Consultation Nutrition sur Mesure</h1>
                    <br>
                    <h5>It will always stay visible on the top, even when you scroll down</h5>
                    <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
                    <br>
                    <p>Full page intro with background image will be always displayed in full screen mode, regardless of
                        device </p>
                </div>
                <br>
                <div class="col-12">
                    <div class='icon-scroll'>
                        <div class="mouse"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img src="{{ asset('img/mns2-design/icons/start.svg') }}" alt="">
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9 text-left">
                <h2>1ère consultation</h2>
                <p><i class="fa fa-clock-o"></i> 1h30</p>
            </div>
            <div class="row">
                {% for i in 0..10 %}
                    <div class="col-md-3 col-sm-4 col-4">
                        <div class="card testimonial-card">
                            <!--Bacground color-->
                            <div class="card-up indigo lighten-1">
                            </div>

                            <!--Avatar-->
                            <div class="avatar"><img src="{{ asset('img/mns2-design/icons/calendar.svg') }}" class="rounded-circle">
                            </div>

                            <div class="card-body">
                                <!--Name-->
                                <h4 class="card-title">Analyse de la vie quotidienne</h4>
                                <hr>
                                <!--Quotation-->
                                <p>Analyse des habitudes alimentaires et des horaires.</p>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </div>
{% endblock %}