/*VARIABLES, TOOLS & ADD-ON*/
/*COLORS*/
/*https://material.io/color/#!/?view.left=1&view.right=0&primary.color=006064&secondary.color=00838e*/
/* line 7, ../sass/_colors.scss */
.mns2-primary {
  background-color: #006064 !important;
  color: white !important;
}

/* line 12, ../sass/_colors.scss */
.mns2-primary-text {
  color: #006064 !important;
}

/* line 16, ../sass/_colors.scss */
.mns2-primary-light {
  background-color: #428e92 !important;
  color: black !important;
}

/* line 21, ../sass/_colors.scss */
.mns2-primary-light-text {
  color: #428e92 !important;
}

/* line 25, ../sass/_colors.scss */
.mns2-primary-dark {
  background-color: #00363a !important;
  color: white !important;
}

/* line 30, ../sass/_colors.scss */
.mns2-primary-dark-text {
  color: #00363a !important;
}

/* line 38, ../sass/_colors.scss */
.mns2-secondary {
  background-color: #00838e !important;
  color: white !important;
}

/* line 43, ../sass/_colors.scss */
.mns2-secondary-text {
  color: #00838e !important;
}

/* line 47, ../sass/_colors.scss */
.mns2-secondary-light {
  background-color: #4fb3be !important;
  color: black !important;
}

/* line 52, ../sass/_colors.scss */
.mns2-secondary-light-text {
  color: #4fb3be !important;
}

/* line 56, ../sass/_colors.scss */
.mns2-secondary-dark {
  background-color: #005661 !important;
  color: white !important;
}

/* line 61, ../sass/_colors.scss */
.mns2-secondary-dark-text {
  color: #005661 !important;
}

/*FONTS*/
/* line 1, ../sass/_tools.scss */
.no-shadow {
  box-shadow: none !important;
}

/* line 5, ../sass/_tools.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 9, ../sass/_tools.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 13, ../sass/_tools.scss */
.no-padding-top {
  padding-top: 0;
}

/* line 17, ../sass/_tools.scss */
.no-padding-bottom {
  padding-bottom: 0;
}

/* line 21, ../sass/_tools.scss */
.bold {
  font-weight: bold;
}

/* line 25, ../sass/_tools.scss */
.half-with {
  width: 50%;
}
