/*COLORS*/
/*https://material.io/color/#!/?view.left=1&view.right=0&primary.color=006064&secondary.color=00838e*/
$mns2-primary: #006064;
$mns2-primary-light: #428e92;
$mns2-primary-dark: #00363a;

.mns2-primary{
  background-color: $mns2-primary!important;
  color: white!important;
}

.mns2-primary-text{
  color: $mns2-primary!important;
}

.mns2-primary-light{
  background-color: $mns2-primary-light!important;
  color: black!important;
}

.mns2-primary-light-text{
  color: $mns2-primary-light!important;
}

.mns2-primary-dark{
  background-color: $mns2-primary-dark!important;
  color: white!important;
}

.mns2-primary-dark-text{
  color: $mns2-primary-dark!important;
}

$mns2-secondary: #00838e;
$mns2-secondary-light: #4fb3be;
$mns2-secondary-dark: #005661;

.mns2-secondary{
  background-color: $mns2-secondary!important;
  color: white!important;
}

.mns2-secondary-text{
  color: $mns2-secondary!important;
}

.mns2-secondary-light{
  background-color: $mns2-secondary-light!important;
  color: black!important;
}

.mns2-secondary-light-text{
  color: $mns2-secondary-light!important;
}

.mns2-secondary-dark{
  background-color: $mns2-secondary-dark!important;
  color: white!important;
}

.mns2-secondary-dark-text{
  color: $mns2-secondary-dark!important;
}